application:
  # 服务器ip，默认使用 0.0.0.0
  host: 0.0.0.0
  # 服务名称
  name: Job@Home
  # 端口号
  port: 8001 # 服务端口号
  jwtSecret: JobAtHome
  jwtTimeout: 1440 # 60 * 24 分钟
  baseUrl: http://127.0.0.1:8001
database:
  # 数据库类型 mysql，sqlite3， postgres
  driver: mysql
  # 数据库连接字符串 mysql 缺省信息 charset=utf8&parseTime=True&loc=Local&timeout=1000ms
  source: devuser:devuser@tcp(127.0.0.1:3306)/jobathome-server?charset=utf8mb4&parseTime=True&loc=Local&timeout=1000ms